<footer class="site-footer">

    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="http://github.com/kriskbx" target="_blank" title="github">
                        <svg height="32px" id="github-icon" style="enable-background:new 0 0 67 67;" version="1" viewBox="0 0 67 67" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M21,35c-0,0,1,1,1,1  c1,3,4,4,9,5c-1,0-1,1-2,2c-1,1-2,1-4,0  c-2-1-2-4-5-4c-1,0-0,0,0,1c1,1,2,1,2,3  c0,1,1,3,4,3c1,0,2-0,2-0s0,3,0,4c0,1-2,2-2,2  c0,0,1,0,1,0c1,0,3-1,3-2c0-1,0-4,0-5c0-1,1-2,1-2  s0,7-0,8c-0,1-1,1-1,1c0,1,2,0,3-1c1-1,0-8,0-8  l1-0c0,0,0,3,0,5c-0,1-0,3,1,4c1,1,2,2,2,1  c0-1-1-1-1-2v-7c1,0,1,2,1,2l0,4c0,0-0,1,2,2  c1,0,2,0,2-0c0-0-2-1-2-2c-0-1,0-1,0-4  c0-3-0-4-2-5c5-0,7-2,9-4c0,0,1-1,0-1  c0-1,0-2,1-4c-0-4-2-6-2-6c1-3-0-5-0-5  c-1-0-4,1-6,2c-3-1-8-1-10,0c-4-3-6-2-6-2  s-1,2-0,6c-1,2-2,3-2,6C20,32,20,33,21,35z M3,4h60v60H3V4z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#10101;"/>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href="http://vimeo.com/kriskbx" target="_blank" title="vimeo">
                        <svg height="32px" id="vimeo-icon" style="enable-background:new 0 0 67 67;" version="1" viewBox="0 0 67 67" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M18,29c0,0,3-2,4-1  c1,1,5,15,6,17c1,2,4,5,7,3c3-2,14-11,16-22  c2-11-13-8-14,1c4-2,6,1,4,5c-2,4-4,6-5,6  c-1,0-2-2-3-7c-1-4-1-12-6-12c-4,1-10,8-10,8L18,29z   M3,4h60v60H3V4z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#10101;"/>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/kriskbx" target="_blank" title="twitter">
                        <svg height="32px" id="twitter-icon" style="enable-background:new 0 0 67 67;" version="1" viewBox="0 0 67 67" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M37,22c-3,1-4,3-4,6  l0,1l-1-0c-4-0-7-2-10-5l-1-1l-0,1c-1,2-0,5,1,6  c1,1,1,1-1,0c-1-0-1-0-1-0c-0,0,0,2,1,3  c1,1,2,2,3,3l1,0l-1,0c-1,0-1,0-1,0  c0,1,2,3,4,3l1,0l-1,1c-2,1-4,2-6,2  C20,43,19,43,19,43c0,0,3,1,4,2c4,1,10,1,14-2  c3-2,6-5,7-8c1-2,1-5,1-6c0-1,0-1,1-2  c1-1,1-1,1-2c0-0,0-0-1-0c-2,1-2,1-1-0  c1-1,1-2,1-2c0-0-0,0-1,0c-0,0-1,1-2,1l-1,0l-1-1  c-1-0-1-1-2-1C40,22,38,22,37,22z M3,4h60v60H3V4z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#10101;"/>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href='{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}' title="rss">
                        <svg height="32px" id="rss-icon" style="enable-background:new 0 0 67 67;" version="1" viewBox="0 0 67 67" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M44,46h5c0-15-12-27-27-27  v5C35,25,44,34,44,46z M35,46L35,46h5c0-10-8-18-18-18v5  c3,0,6,1,9,4C34,40,35,43,35,46z M26,46c2,0,4-2,4-4  c0-2-2-4-4-4c-2,0-4,2-4,4C23,45,24,46,26,46z M3,4h60v60H3V4z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#10101;"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <p>
            copyright &copy; 2015 by kris siepert.<br>
            <a href="{{ site.baseurl }}/legal">legal stuff.</a>
        </p>
    </div>

</footer>
