<script type="text/javascript">
    (function(){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src='{{ "/js/smoothScroll.js" | prepend: site.baseurl }}';var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);})();
    var hash=window.location.hash;if(hash=='#web'||hash=='#video'){document.querySelector(hash+'-toggle').checked=true}
    var _paq =_paq||[];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function () {var u = "https://piwik.kris.cool/";_paq.push(['setTrackerUrl', u + 'piwik.php']);_paq.push(['setSiteId', 1]);var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];g.type = 'text/javascript';g.async = true;g.defer = true;g.src = u + 'piwik.js';s.parentNode.insertBefore(g, s);})();
</script>
<noscript><p><img src="https://piwik.kris.cool/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>