---
layout: default
---

<div>
    <!-- CHK WEB -->
    <input type="checkbox" id="web-toggle" class="toggle-content">

    <!-- TITLE WEB -->
    <div class="fancy-title">
        <h2>
            Everyone can make a <label onclick="smoothScroll.animateScroll(this,'#web');" for="web-toggle"
                                        class="high-brand clickable">website</label> today.<br>
            I build <em>awesome</em> ones.
        </h2>

        <p class="lead">
            Professional, smart and blazing fast websites & -applications<br>
            handcrafted with love in Berlin, Germany. <3
        </p>
    </div>

    <!-- BTN WEB -->
    <div class="fancy-button">
        <label for="web-toggle">
            <span data-more="more" data-less="less"></span>
        </label>
    </div>

    <!-- CONTENT WEB -->
    <div class="content-block" id="web">

        <p></p>

        <p><em>Take a look at some cool web projects I've done so far:</em></p>

        <ul class="portfolio">
            {% for item in site.portfolio.web %}
            <li>
                {% assign logo_image = item.image %}
                <a href="{{ item.link }}" target="_blank">{% image logo {{logo_image}} width="90" height="51" %}</a>
                <h4><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>
                {% for item_tag in item.tags %}
                <span>#{{ item_tag }}</span>&nbsp;
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

        <p class="contact">
            <a href="javascript:location='mailto:\u006d\u0040\u006b\u0072\u0069\u0073\u002e\u0063\u006f\u006f\u006c';void 0"
               class="btn">Contact Me</a><br>
            <small>PGP-Key: <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x640D0260" target="_blank">0x640D0260</a>
            </small>
        </p>

    </div>
</div>

<div>

    <input type="checkbox" id="video-toggle" class="toggle-content">

    <div class="fancy-title">
        <h2>
            Are you looking for <label onclick="smoothScroll.animateScroll(this,'#video');" for="video-toggle"
                                       class="high-brand-2 clickable">videos</label>?<br>
            I also make <em>wonderful</em> videos for your<br>
            business, event or band.
        </h2>

        <p class="lead">
            Meet my team of creative and talented DOPs, directors & writers<br>
            and let‘s create something beautiful together. <3
        </p>
    </div>

    <div class="fancy-button fancy-button-2">
        <label for="video-toggle">
            <span data-more="more" data-less="less"></span>
        </label>
    </div>

    <div class="content-block" id="video">

        <p><em>Take a look at some cool video projects I've done so far:</em></p>

        <ul class="portfolio">
            {% for item in site.portfolio.video %}
            <li>
                {% assign logo_image = item.image %}
                <a href="{{ item.link }}" target="_blank">{% image logo {{logo_image}} width="90" height="51" %}</a>
                <h4><a class="portfolio-link-2" href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>
                {% for item_tag in item.tags %}
                <span>#{{ item_tag }}</span>&nbsp;
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

        <p class="contact">
            <a href="javascript:location='mailto:\u006d\u0040\u006b\u0072\u0069\u0073\u002e\u0063\u006f\u006f\u006c';void 0"
               class="btn btn-2">Contact Me</a><br>
            <small>PGP-Key: <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x640D0260" target="_blank">0x640D0260</a>
            </small>
        </p>

    </div>

</div>

<div class="fancy-title">
    <h2>
        <span class="high-brand-3">thoughts</span>, code, art & more.
    </h2>
</div>

<ul class="post-list" id="blog">
    {% for post in site.posts %}
    <li>
        <span class="post-meta{% if post.link %} external-link{% endif %}">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
            <a class="post-link{% if post.link %} external-link{% endif %}"
               {% if post.link %}target="_blank" {% endif %}
               href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
                {{post.title}}
            </a>
        </h2>
    </li>
    {% endfor %}
</ul>
