@font-face {
  font-family: 'Source Serif Pro';
  src: url('~@/assets/fonts/sourceserifpro-regular-webfont.woff2') format('woff2'),
  url('~@/assets/fonts/sourceserifpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('~@/assets/fonts/rubik-medium-webfont.woff2') format('woff2'),
  url('~@/assets/fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('~@/assets/fonts/rubik-regular-webfont.woff2') format('woff2'),
  url('~@/assets/fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('~@/assets/fonts/rubik-light-webfont.woff2') format('woff2'),
  url('~@/assets/fonts/rubik-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
